In [40]:
import numpy as np
import pandas as pd

In [33]:
class LogisticRegression:

  def __init__(self, n_iter=1000, lr=0.001):
    self.n_iter = n_iter
    self.lr = lr
    self.w = 0
    self.b = 0

  def predict(self, X):
    p = self._sigmoid(X)
    return p//0.5

  def fit(self, X, y):
    for _ in range(self.n_iter):
      y_pred = self._sigmoid(X)
      dlw = np.dot(X.T, (y_pred - y))/len(X)
      dlb = np.sum(y_pred - y)/len(X)
      self.w -= self.lr * dlw
      self.b -= self.lr * dlb

  def loss(self, y, y_pred):
    return -np.sum(np.dot(np.log(y_pred), y.T) + np.dot((1-y), np.log(1-y_pred)))/len(y)

  def _sigmoid(self, X):
    z = np.dot(X.T, self.w) + self.b 
    return 1/(1+np.exp(-z))

In [46]:
# Dataset can be downloaded here: https://www.kaggle.com/pankeshpatel/insurance
path1 = "/insurance_data.csv"
ins_data = pd.read_csv(path1, header=0)

In [49]:
ins_data.head(3)

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1

In [56]:
lgr = LogisticRegression(n_iter=10000, lr=0.001)

In [57]:
lgr.fit(ins_data["age"], ins_data["bought_insurance"])

In [60]:
t2 = np.array([52])
lgr.predict(t2)

array([1.])

In [61]:
print(f"w: {lgr.w}, b:{lgr.b}")

w: 0.038434097604333244, b:-1.048424477136254